<h1>About</h1>

<p>

Whether we are designing, selling, communicating, or listening; Empathy is our guiding principle.
</p>
<p>
QueueDr was created out of necessity for doctors and patients. Even the most popular doctors struggle with missed and cancelled appointments (because life happens). In fact, US doctors lose $60 billion (yes billion) annually to missed and cancelled appointments. For patients, finding a doctor can be overwhelming and complicated. Once you’ve found who you think is a good doctor, you find out that the doctor has a 2 month waiting period for new patients.
</p>
<p>
Put these problems together and you have a solution. Give patients access to the most popular doctors by helping doctors fill missed and cancelled appointments.
</p>
<p>
In addition to solving this problem, QueueDr will bring simplicity, great user experience, and fun to healthcare tech. We want to be the easiest way for patients to get appointments and to hear that doctors and their staff enjoy using our product (like “haha” enjoy, not “this isn’t awful” enjoy). Want to join our amazing team or have any questions or thoughts, feel free to reach out to us or read our blog.
</p>
