<div class="hero-unit">

<h1>Let's get you a good doctor now</h1>
<p>

	The simple way to find good doctors

</p>

<p>

	<%= link_to "Sign up",new_user_registration_path,class: "btn btn-success btn-large" %> 
	
</p>
</div>

