$baseFontFamily: 'Source Sans Pro', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

@import "bootstrap";


body {

	padding-top:60px;
	background:#093445;
	color:$red;

}

@import 'bootstrap-responsive';

.navbar-inner{

	@include box-shadow(none !important);
	border:0;
	}

.footer {

	margin-top:50px;


	a{

		color:#ffffff;
	}


}